#spelersdiv {
    width: auto;
    overflow-y: scroll;
    height:700px;
    float:left;
    margin: 20px 0 0 150px;
}

.spelerlinks {
    float:left;
    clear:left;
}

.spelerrechts {
    float:left;
}

.spelerlinks, .spelerrechts {
    font-family: fantasy;
    font-size: 15pt;
    text-align:center;
    border: solid 1px black;
    margin:0 10px 10px 10px;
}

.cirkelveld {
    float:left;
    margin: 20px 0 0 50px;
    width: 1200px;
    height: 700px;
    background-image: url("resources/veld.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; /* position: absolute gaat op zoek naar het eerste element dat op position:relative staat */

}

header {
    position:relative;
    width:500px;
    height:170px;
    left:35%;
}

img {
    width:100%;
    height:100%;
}

body {
    margin:0;
}

.cirkel {
    border: dotted 3px white;
    width: 80px;
    height:80px;
    border-radius: 50% ;
    position: absolute;
    overflow:hidden;
}

/* cirkels plaatsen op het veld*/

#cirkel1 {
    top: 10px;
    left: 350px;

}

#cirkel2 {
    top: 60px;
    left: 700px;
}

#cirkel3 {
    top: 150px;
    left: 1100px;
}

#cirkel4 {
    top: 150px;
    left: 30px;
}

#cirkel5 {
    top: 300px;
    left: 320px;
}

#cirkel6 {
    top: 200px;
    left: 540px;
}

#cirkel7 {
    top: 300px;
    left: 750px;
}

#cirkel8 {
    top: 460px;
    left: 80px;
}

#cirkel9 {
    top: 470px;
    left:540px;
}

#cirkel10 {
    top: 460px;
    left: 1000px;
}

#cirkel11 {
    top: 600px;
    left: 540px;
}